<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Twig Weather App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" >
    </head>
    <body>
        <h1>Get the Current Weather!</h1>
        <p>To get the current weather, please enter your desired location:</p>
        <form method="POST">
            <p>
                <input autocomplete="off" type="submit" />
                <input name="text" />
            </p>
        </form>
        <h4>{{ result }}</h4>
        <br>
        <p><a href=forecast ><button class=grey style="height:30px;width:200px">...get the forecast here!</button></a></p>
    </body>
    <br><br>
    <p>Modifications by @maijlma!</p>
</html>
